<div class="navbar">
	<div class="navbar-inner">
		<div class="container">

			<%=link_to "MEUGWCEL", root_path, :class =>"brand" %>
			
			<ul class="nav">

				<li class="active">
					<%=link_to 'Gerar paramêtros', parametros_path %>
				</li>

				<li>
					<%=link_to 'Operadoras', operadoras_path %>
				</li>

				<li>
					<%=link_to 'Filiais', filiais_path %>
				</li>

				<li>
					<%=link_to 'Tipos',tipos_path %>
				</li>
			</ul>

		</div>
	</div>
</div>