<%= form_for(@operadora,:html => {:class =>"well form-vertical"}) do |f| %>

  <% if @operadora.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(@operadora.errors.count, t(:error)) %>:</h2>

      <ul>
      <% @operadora.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %>
    <%= f.text_field :codigo %>
  </div>

<div class="field">
    <%= f.label :tipo_id %>
    <%= f.collection_select :tipo_id,
        Tipo.all,
        :id,
        :nome,
        {:prompt =>true}
    %>
  </div>


  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit t(:submit),:class =>"btn btn-success" %> | <%= link_to t(:back), operadoras_path, :class =>"btn btn" %>
  </div>
<% end %>
